@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <section id="backdrop">
        <div class="header-bg">
            <div class="section-title">
                <h1><span>Kyle J. Paterson</span></h1>
                <h3>Full Stack Developer / Consultant</h3>
            </div>
        </div>
    </section>
    <section id="content">
        <h1 class="section-title">Background</h1>
        <p>
            I am a full stack .NET developer with a recent focus on Cloud technologies. I have worked on many enterprise production applications ranging from financial
            reports to creating online document editors. I have a passion for creating efficient and clean code, and love to solve the many problems that come with software development.
        </p>
        <p>
            My passion for software development began in high school after creating my first "Snake" game using the Turing programming language.
            My interests have evolved from traditional Java based applications to modern full stack and cloud development.
        </p>
        <p>
            Recently, I obtained the Microsoft Certified Professional (MCP) and Microsoft Azure Develop Associate certifications. My next goal is to become a certified Microsoft Azure Solutions Expert.
            Cloud technologies have become the standard for many industries as they are reliable, cost efficient, and secure. Cloud technologies have changed software development in a profound way,
            and will continue to have huge impacts in the future. As I progress through my career, it is my intention to become a Subject Matter Expert for all Cloud technologies, with a focus on Microsoft Azure.
            Microsoft Azure provides solutions for a multitude of challenges business' face every day.
        </p>
    </section>
    <section id="skills">
        <h1 class="section-title"><span>Skills</span></h1>
        <div class="row" style="padding: 20px; font-size: 20px">
            <img src="images/cat.jpg" width="250" height="150"style="float: right;" alt="cat"/>
            <h4>Technologies</h4>
            <ul>
                <li>Azure</li>
                <li>Microsoft</li>
            </ul>
        </div>
    </section>
    <section id="playground">
        <h1 class="section-title"><span>Playground</span></h1>
        <p></p>
    </section>
</main>
